@use '../styles/vars';
@use '../_settings.scss';
@use '../styles/index.scss';
.header {
  grid-area: 1;
  width: 100%;
  position: relative;
  background: vars.$color-1;
  height: 550px;

  margin-right: 5em;

  .title {
    margin-top: 1.5em;
    padding: 2.5em;
    font-size: 1.4rem;
    font-family: vars.$font-2;
    color: vars.$color-5;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em #333
  }
}
label{
  font-size: 1em;
  color: #002060;
 
}
.btn {
  margin-left: 4em;
  text-decoration: none;
  padding: 5px;
  font-family: vars.$font-1 ;
  font-size: 1em;
  color: #002060;
  background-color: #6C77F4;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border: 2px solid #080e28;
  box-shadow: 3px 3px 12px #00F48E;
  -webkit-box-shadow: 3px 3px 12px #00F48E;
  -moz-box-shadow: 3px 3px 12px #00F48E;
  }
  
  .btn:hover {
  padding: 6px;
  font-family: arial;
  color:#002060;
  border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  box-shadow: 1px 1px 4px #00F48E;
  -webkit-box-shadow: 1px 1px 4px #00F48E;
  -moz-box-shadow: 1px 1px 4px #00F48E;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    margin: 1em;
   
  }
.contactContent {
  background: vars.$color-1;
  border-radius: vars.$borderRadius;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 45% 35%;
  grid-template-areas: 
    "1"
    "2"
    "3";

  
  .contactBox {
    grid-area: 2;
    background: vars.$color-2;
    margin: 0 auto;
    padding: 1rem 3rem;
    z-index: 2;
    border-radius: vars.$borderRadius;
    box-shadow: 0 3px 10px #333;
    width: 50%;
    min-width: 440px;
    min-height: 200px;

    h1 {
      text-align: center;
      margin-top: 0.3rem;
      position: relative;
      color: vars.$color-2;

      &:after {
        content: '';
        height: 1px;
        width: 50%;
        background: vars.$color-1;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    ul {
      height: 72%;
      width: inherit;
      display: grid;
      margin-top: 3.5rem;

      li {
        position: relative;
      }

      i {
        font-size: 1.4rem;
        position: absolute;
        transform: translateY(2px);
        color: vars.$color-2;
      }
      span {
        font-size: 1.4rem;
        position: absolute;
        transform: translateX(52px);
        background: transparent;
        border: none;
        outline: none;
        width: 350px;
        transition: .2s ease;
      }
      .clickInput:hover {
        transform: translateX(56px);
        cursor: pointer;
      }
      
    }
    
  }
}
@media screen and (max-width: 500px){
  .contactContent {
    .contactBox {
      min-width: 100% !important;
    }
    span {
      font-size: .9rem !important;
    }
    h4 {
      font-size: .9rem;
    }
  }
}